@font-face {
  font-family: "Cafe24Oneprettynight";
  src: local("Cafe24Oneprettynight"),
  url("./fonts/Cafe24Oneprettynight.ttf") format("truetype");
  font-weight: auto;
}

.App, body {
  font-family: "Cafe24Oneprettynight", sans-serif;
  //background-color: #f0dbde;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

div {
  .section {
    @media (max-width: 480px) {
    }

    @media (min-width: 481px) {
      max-width: 360px;
    }

    width: 100vw;
    //height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
  }
}

img {
  width: 100%;
  height: auto;
}

.invitation {
  position: relative;
  background-color: #ffffff;

  .title {
    position: absolute;
    top: 91px;
    left: 44px;

    .icon {
      width: 26.34px;
      height: 12.02px;
      margin-bottom: 18px;
    }

    .wedding {
      font-size: 20px;
      line-height: 21px;
      letter-spacing: 0.3em;
      font-weight: 400;
      margin-bottom: 14px;
    }

    .names {
      display: flex;
      flex-grow: 0;

      p {
        font-size: 29px;
        line-height: 31px;
        letter-spacing: 0.3em;

        &:nth-child(2) {
          margin-right: 10px;
        }
      }

      margin-bottom: 41px;
    }

    .schedule {
      font-size: 17px;
      line-height: 19px;
      letter-spacing: 0.12em;
      font-weight: 400;
    }
  }

  .illust {
    width: 235.82px;
    height: 335.97px;
    position: absolute;
    bottom: 20px;
    right: 0;
  }
}

.section.location {
  min-height: 819px;
  height: 100%;
}

.location {
  background-color: #f9eaec;

  .contents {
    @media (max-width: 480px) {
      padding: 15% 0;
    }

    @media (min-width: 481px) {
      padding: 70px 0;
    }

  }

  .main-title {
    color: #604347;
    font-size: 26px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 16px;
  }

  .hotel-address {
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .route {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 32px;

    a {
      img {
        width: 56px;
        height: 56px;
        background-color: #ffffff;
        border-radius: 10px;
      }

      text-align: center;

      p {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  .map {
    //margin-bottom: 39px;
  }

  .sub-title {
    background-color: #f0dbde;
    border-radius: 9px;
    padding: 2px 20px;
    width: 70px;
    text-align: center;
    margin: 0 auto 16px auto;
  }

  .parking-address {
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 16px;
  }
}

.film {
  .contents {
    padding-top: 100px;
  }

  .title {
    font-size: 26px;
    line-height: 28px;
    text-align: center;
    color: #604347;
    margin-bottom: 37px;
  }

  .swiper-container {
    position: relative;

    .bg {
      position: absolute;
      width: 100vw;

      @media (min-width: 481px) {
        max-width: 360px;
      }

      img {
        position: absolute;
        width: 100%;

        &:nth-child(1) {
          top: -20px;
        }
      }
    }

    .swiper-wrapper {
      margin-top: 46px;

      img {
        border-radius: 20px;
      }
    }
  }
}

.gallery {
  .contents {
    padding-top: 100px;
  }

  .title {
    font-size: 26px;
    line-height: 28px;
    text-align: center;
    color: #604347;
    margin-bottom: 37px;
  }

  .item-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    flex: 0 0 33.3333333%;
    height: 15vh;
    overflow: hidden;
    margin-bottom: 20px;

    img {
      width: 80%;
      display: block;
      margin: auto;
    }
  }
}

.information {
  .contents {
    padding-top: 100px;
    margin: auto 40px;
  }

  .title {
    font-size: 26px;
    line-height: 28px;
    color: #604347;
    text-align: center;
    margin-bottom: 27px;
  }

  .border {
    border: 1px solid #bcbcbc;
    margin: 22px 0;
  }

  .sub-title {
    font-size: 20px;
    line-height: 21px;
    color: #604347;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      display: inline-block;
    }
  }

  .account-box {
    //width: 60%;
    margin: auto;
    background-color: #f5f3f3;
    padding: 16px;
    border-radius: 10px;

    .account-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #524e4f;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      > div:first-child {
        > p:first-child {
          font-size: 16px;
          line-height: 17px;
          margin: 6px 0;
        }

        > p:nth-child(2) {
          font-size: 16px;
          line-height: 17px;
          letter-spacing: 0.06em;
        }
      }

      > div:last-child {
        font-size: 14px;
        line-height: 15px;

        background: #ffffff;
        border-radius: 6px;
        padding: 5px 12px;
      }
    }
  }
}

.modal-background {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;

  .modal-content {
    //height: 100%;
    padding: 10px;
    width: 85vw;
    margin-top: 5vh;
    position: relative;
    overflow: scroll;
    background: #ffffff;

    .swiper-button-prev,
    .swiper-button-next {
      color: #604347;
    }

    .thumb-img {
      //width:
      height: 7vh;
    }
  }
}

.share {
  position: relative;
  transform: translateY(-10vh);
  @media (min-width: 481px) {
    max-width: 360px;
    margin: 0 auto;
  }
  @media (max-width: 480px) {
    transform: translateY(-10vh);
  }

  .content {
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #604347;
    background: #edd2d2;
    display: flex;

    div {
      width: 100%;
      padding: 30px 0;
    }

    > div:last-child {
      background: #ffffff;
    }
  }
}

.arrow {
  border: solid #604347;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.section {
  &.message {
    height: 400vh;
  }

  .sticky {
    position: sticky;
    top: 0;
    height: 100vh;
  }

  .frame {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .image_0 {
    z-index: 0;
    background-image: url("/assets/1.jpg");
  }

  .image_1 {
    z-index: 1;
    background-image: url("/assets/2.jpg");
    background-position: 35% center;
  }

  .image_2 {
    z-index: 2;
    background-image: url("/assets/3.jpg");
  }

  .image_3 {
    z-index: 3;
    background-image: url("/assets/4.jpg");
  }

  .image_visible {
    opacity: 1;
    transition: background 300ms ease-in 200ms;
    -webkit-animation: myfirst 0.5s; /* Chrome, Safari, Opera */
    animation: myfirst 0.5s;
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes myfirst {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }

  /* Standard syntax */
  @keyframes myfirst {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }

  .message-box {
    background: linear-gradient(180deg, #FFFFFF 10%, rgba(255, 255, 255, 0.8) 65%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.1) 98%, rgba(255, 255, 255, 0) 85%);
    @media (max-width: 480px) {
      padding-top: 10vh;
      padding-left: 10vw;
      padding-bottom: 10vh;
    }

    @media (min-width: 481px) {
      padding-top: 40px;
      padding-left: 40px;
      padding-bottom: 40px;
    }


    .icon {
      width: 26.34px;
      height: 12.02px;
      margin-bottom: 18px;
    }

    .message-text {
      font-size: 19px;
      line-height: 29px;
    }
  }
}

.modal-close {
  margin: 10px;
}
